<div class="records">

  <div class="page-header">

    <div>
      <h1>Atenciones</h1>
      <p class="subtitle">Registra los servicios realizados</p>
    </div>

    <button class="add-btn" (click)="toggleForm()">
      + Nueva atención
    </button>

  </div>

  @if (showForm) {

    <app-card>

      <div class="form-grid">

        <input
          type="text"
          placeholder="Cliente"
          [(ngModel)]="newRecord.clientName"
        />

        <select [(ngModel)]="newRecord.serviceName" 
                 (change)="onServiceChange()">
          

          <option value="" disabled selected>
            Seleccionar servicio
          </option>

          @for (service of services; track service.id) {

            <option [value]="service.name">
              {{ service.name }}
            </option>

          }

        </select>

        <select [(ngModel)]="newRecord.employeeName">
          

          <option value="" disabled selected>
            Seleccionar Barbero
          </option>

          @for (employee of employees; track employee.id) {

            <option [value]="employee.name">
              {{ employee.name }}
            </option>

          }

        </select>

        <select [(ngModel)]="newRecord.paymentMethod">
          <option>Efectivo</option>
          <option>Transferencia</option>
          <option>Débito</option>
        </select>

        <input
          type="number"
          placeholder="Monto"
          [(ngModel)]="newRecord.price"
          readonly
        />

      </div>

      <div class="form-actions">
        <button (click)="addRecord()">Guardar</button>
        <button (click)="toggleForm()">Cancelar</button>
      </div>

    </app-card>
  }

  <div class="records-list">

    @for (record of todayRecords; track record.id) {

      <app-card>

        <div class="record-row">

          <div class="left">
            <span class="avatar">{{ record.clientName?.[0] || '?'}}</span>

            <div>
              <strong>{{ record.clientName }}</strong>
              <p>{{ record.serviceName }}</p>
            </div>
          </div>

          <div class="right">
            <strong>${{ record.price }}</strong>
            <span>{{ record.paymentMethod }}</span>
          </div>

        </div>

      </app-card>
    }

  </div>

</div>